/* todos los row dentro de un div */
.row > div {
    /*background: #f2f2f2;*/
    margin: 10px 0; /* arriba abajo y a los lados */
}

body {
	background: #efefef;
	color: #black;
}

header {
	background: #9aca40;
	padding: 20px;
	margin-bottom: 20px;
}

.row {
    background-color: #efefef;
}

.uno { background-color: #ffcccc; text-align: center; }
.dos { background-color: #ffffcc; text-align: center;}
.tres { background-color: #ccccff; text-align: center;}

.alto-fijo {
    height: 150px;
}